<main class="text-white w-full">
    <section class="w-full h-screen px-4/20 bg-fixed bg-entrance overflow-hidden bg-cover relative z-50">
        <div class="bg-black opacity-25 absolute left-0 top-0 w-full h-full"></div>
        <div class="h-max w-max">
            <h2 class="font-oswald uppercase text-8xl italic relative mt-12/20 ml-6/20">écuries<span class="absolute w-max -bottom-24 left-19/20">de persévère</span></h2>
        </div>
    </section>
    <section class="w-full snap-center h-screen px-4/20 bg-fixed bg-wood overflow-hidden bg-cover bg-bottom">
        <div class="h-full pt-24 space-y-16">
            <h2 class="text-black font-oswald font-bold -rotate-6 text-5xl">Notre ligne de conduite</h2>
            <div class="citation relative h-max w-12/20 left-0 right-0 mx-auto">
                <b></b>
                <b></b>
                <b></b>
                <div class="bg-citation-bg border-4 border-citation-border p-10">
                    <p class="font-playfair text-center text-lg italic leading-loose m-0"><span class="text-3xl"> " C</span>haque cheval possède des qualités, peu importe sa race, ses origines, ou sa discipline, il suffit juste de prendre le temps d'écouter et de regarder pour trouver une solution adaptée. <span class="text-3xl">"</span></p>
                    <p class="font-oswald font-thin text-right">Karine MASSOT</p>
                </div>
            </div>
        </div>
    </section>
    <section class="w-full snap-center h-screen px-4/20 bg-fixed bg-wood overflow-hidden bg-cover relative bg-bottom">
        <div class="bg-gradient-to-b from-black to-white opacity-20 absolute left-0 top-0 w-full h-full z-0"></div>
        <div class="h-full p-20 items-center space-y-20 z-10 relative">
            <h2 class="font-oswald text-5xl text-center">Présentation des écuries</h2>
            <iframe class="left-0 right-0 mx-auto w-full h-15/20" src="https://www.youtube.com/embed/xl9Yt_wpBtc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
</main>