<header id="anchor" class="bg-dark text-white py-3 snap-start">
    <div class="flex flex-col items-center border-beige border-y-2 pt-4 pb-6 space-y-4">
        <img class="h-28" routerLink="/" src="/assets/imgs/logo.png" alt="">
        <div class="font-links uppercase flex flex-row flex-nowrap space-x-4 items-baseline">
            <a routerLinkActive="active" routerLink="/landing">accueil</a>
            <a routerLinkActive="active" routerLink="/team">equipe</a>
            <a routerLinkActive="active" routerLink="/installations">installations</a>
            <a routerLinkActive="active" routerLink="/prestations">prestations</a>
            <a routerLinkActive="active" routerLink="/philo">philosophie</a>
            <a routerLinkActive="active" routerLink="/withus">à nos côtés</a>
            <a routerLinkActive="active" routerLink="/contact">contact</a>
            <a routerLinkActive="active" routerLink="/blog">blog</a>
            <!-- <div>
                <a routerLink="login">
                    <span class="iconify inline h-14 w-16" data-icon="carbon:user-avatar-filled-alt"></span>
                    Se Connecter
                </a>
            </div> -->
        </div>
    </div>
</header>
